body{
  margin: 0;
  background: 100%;
   overflow-x: hidden;
}
header {
	background-color: yellow;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding:0;
	display: flex;
  position: relative;
  right:50;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.c6
{
  width: 1348px;
  background-color: #34ebe5;
}

.c1
{
  position: relative;
  height: 280px;
  width:1348px;
  background-color:yellow;
  padding :0;
  margin: 0;

}
.c2
{
  position: relative;
  color:red;
  display: inline-block;
  bottom: 130px;
  left:220px;
  font-size: 6em;
}

.c3
{
  position: relative;
  display: inline-block;
  top:15px;
  height:200px;
  left:10px;

}
.c4
{
  text-align: center;
font-family: 'Alkatra', cursive;
font-size: 2em;
}

.c7
{
  position:relative;

}
.c8
{
  position:relative;
  top:20px;
  text-align: center;
  color:green;
  font-size: 2em;
  font-family: 'Edu NSW ACT Foundation', cursive;

}
.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 1000px;
}
.course
{
  	background-color: #f1f1f1;
  	border-radius: 5px;
  	box-shadow: 0px 0px 5px #bbb;
  	padding: 20px;
  	margin: 20px;
  	max-width: 200px;
  	text-align: center;
}
.ccc1
{
  font-size: 0.7em;
}
.places{
  position: relative;
  background-color: black;
  height:700px;

}

 .places1
{
  background-color: black;
  max-width:1000px;
}
.c10
{
  font-size:2em;
  color:white;
  width:1290px;
  position: relative;
  text-align: center;
  top:20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
}
 .im1
{
  height:220px;
  width:290px;
  background-color:black;

}
.im2
{
  position: relative;
  left:200px;
  top:30px;

}
.im3
{
  top:30px;
  position: relative;
  left:240px;
  width:220px;
  height:290px;
}
.im4
{
  position: relative;
  left:280px;
  top:30px;

}
.im5
{
  position: relative;
  left:160px;
  top:70px;

}
.im6
{
  position: relative;
  left:200px;
  top:70px;
}

.im7
{
  position: relative;
  left:240px;
  top:70px;
}
.c10:hover
{
  color:red;
}
.con:hover{
  color:blue;
}
.m5:hover{
  color:orange;
}
.c8:hover{
  color:blue;
}
.stah:hover{
  color:blue;
}
.loc1
{
  margin-top: 30px;
  padding-top: 20px;
  display: inline-block;
  /* background-color: red; */
}
.loc2
{
  position:relative;
  float:left;
  background-color: azure;
  width:600px;
  height:450px;
  right:80px;
  top:80px;
}
.loc3
{
  position: relative;
  right:40px;
  top:70px;
}
.sta{
  background-color: blue;
}
.m1
{
  text-align: center;
}

.m2
{
  background-color: blue;
  height: 650px;
  display:flex;
  top:50px;
  margin-top: 20px;

}
.m5
{
  color:white;
  text-align: center;
  position: relative;
  top:30px;
  left:600px;
  /* font-family: 'Edu NSW ACT Foundation', cursive; */

}

.stah
{
    position: relative;
    display: flex;
    text-align: center;
    left:560px;
    top:20px;
    color:black;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.con
{
  text-align: center;
  font-family: 'Edu NSW ACT Foundation', cursive;

}
.whatsapp-icon {

    width: 50px;
    height: 50px;
    position:relative;
    top:30px;
    left:100px;
}

.con1
{
  position: relative;
  display:flex;
}
.phone-icon {
    width: 100px;
    height: 50px;
    position:relative;
    left:650px;
    bottom: 25px;
}

.email-icon {
    width: 50px;
    height: 50px;
    position:relative;
    bottom:80px;
    left:1100px;
}
 @media only screen and (max-width:600px)
{
  body{
    margin: 0;
    background: 100%;
     overflow-x: hidden;
  }
/* .c4
{
  font-size:1em;
  text-align: center;
}
.c3
{
  width: 100px;
  height:100px;
}
.c2
{
  position:relative;
  left:30px;
  font-size: 0.7em;
} */
}
